<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @list.photo.attached? ? cl_image_path(@list.photo.key) : "http://source.unsplash.com/featured/?#{@list.name}&#{rand(1000)}" %>);">
  <div class="container">
    <h1><%= @list.name %></h1>
    <%= link_to "Bookmark a movie", new_list_bookmark_path(@list), class: "btn btn-success mt-3" %>
  </div>
</div>

<div class="container">
  <div class="cards">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card mt-3">
        <%= image_tag bookmark.movie.poster_url %>
        <div class="card-trip-infos p-2">
          <div class="d-flex justify-content-between">
            <h2><%= bookmark.movie.title %></h2>
            <div class="circle">
              <p><%= bookmark.movie.rating %></p>
            </div>
          </div>
          <p><%= bookmark.movie.overview %></p>
          <p>"<%= bookmark.comment %>"</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
